<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Css/login4.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row text-center mb-3 background rounded" style="height: 700px;">
            <div class="col-8 mx-auto my-auto shadow-property back-opacity" style="width: 600px; height: 550px;">
                <div class="row mx-auto mt-3">
                    <!-- <div class="col-md-12 mx-auto mt-3  align-items-center">
                        <img src="img\ocac_logo.png" alt="ocac-logo" srcset="" class="img-fluid">
                    </div> -->
                    <div class="col-12 text-center mt-4"><img src="img/ocac_logo.png" alt="" srcset=""></div>
                    <div class="col-8 mx-auto mt-3 py-5 bg-success hover-content" style="height: 380px; width: 500px;">
                        <form class="mx-auto">
                            <h4 class="px-2 py-2 mb-4 text-white">Sign in To Start Your Session</h4>
                            <div class="form-group text-class mb-2 px-3 text text-white">
                              <label for="exampleInputEmail1" class="mb-2" style="font-size: 20px;
                              font-weight: 600;">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                            <div class="form-group mt-4 text-class mb-2 px-3 text-white" style="font-size: 20px;
                            font-weight: 600;">
                              <label for="exampleInputPassword1"  class="mb-2">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-dark mt-2 btn-block">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="" async defer></script>
</body>

</html>